<!--<form action="/add" method="post">

    <p>Titulo: </p>
    <input placeholder="Digite o titulo" type="text" name="titulo">
    <p>Conteudo: </p>
    <textarea name="conteudo" placeholder="Digite o conteudo"></textarea>
    <p> </p>
    <button type="submit">Cadastrar postagens</button>
    
</form>-->