<form action="/add" method="post">
    <h1>QUESTIONARIO EDMIR.NODE.JS</h1>
    <input name="nomeCompleto" placeholder="Digite seu nome completo: " />
    <input name="cpf" placeholder="Digite seu cpf: " />
    <input name="telefone" placeholder="Digite seu Telefone: " />
    <input name="endereco" placeholder="Digite seu endereço: " />
    <button type="submit">Enviar!</button>
    <hr />
</form>


